{% extends 'base.html.twig' %}

{% block title %}Quelques icônes Font Awesome{% endblock %}

{% block body %}
<p></p>
<p><b>Rappel :</b> Pour voir le code source de la page sous Firefox, tapez <code>Ctrl-U</code>.</p>
<p>Le <code>span</code> sert à définir la couleur ou plus généralement le style du texte, la taille peut être définie
avec des classes Font Awesome : <code>fa-xs</code>, <code>fa-sm</code>, <code>fa-lg</code>, <code>fa-2x</code>,...,
<code>fa-10x</code>.</p>

<p>
    <span style="color: #444444"><i class="fas fa-search fa-xs"></i><i class="fas fa-search fa-sm"></i><i class="fas fa-search fa-lg"></i><i class="fas fa-search fa-2x"></i><i class="fas fa-search fa-5x"></i><i class="fas fa-search-plus fa-5x"></i></span>
</p>

<p>
    <span style="color: green"><i class="fas fa-home fa-4x"></i></span>
    <span style="color: blue"><i class="fas fa-info fa-4x"></i></span>
    <span style="color: orange"><i class="fas fa-info-circle fa-4x"></i></span>
    <span style="color: blue"><i class="fas fa-user fa-4x"></i></span>
    <span style="color: blue"><i class="far fa-user fa-4x"></i></span>
    <span style="color: blue"><i class="fas fa-eye fa-4x"></i></span>
    <span style="color: blue"><i class="far fa-eye fa-4x"></i></span>
    <span style="color: red"><i class="fas fa-sign-out-alt fa-4x"></i></span>
    <span style="color: green"><i class="fas fa-sign-in-alt fa-4x"></i></span>
    <span style="color: green"><i class="fas fa-check fa-4x"></i></span>
    <span style="color: green"><i class="fas fa-check-square fa-4x"></i></span>
    <span style="color: green"><i class="far fa-check-square fa-4x"></i></span>
    <span style="color: green"><i class="fas fa-check-circle fa-4x"></i></span>
    <span style="color: green"><i class="far fa-check-circle fa-4x"></i></span>
</p>

<p>
    <span style="color: blue"><i class="fas fa-chevron-up fa-4x"></i></span>
    <span style="color: blue"><i class="fas fa-chevron-down fa-4x"></i></span>
    <span style="color: blue"><i class="fas fa-chevron-right fa-4x"></i></span>
    <span style="color: blue"><i class="fas fa-chevron-left fa-4x"></i></span>
    <span style="color: blue"><i class="fas fa-chevron-circle-up fa-4x"></i></span>
    <span style="color: blue"><i class="fas fa-chevron-circle-down fa-4x"></i></span>
    <span style="color: blue"><i class="fas fa-chevron-circle-right fa-4x"></i></span>
    <span style="color: blue"><i class="fas fa-chevron-circle-left fa-4x"></i></span>
</p>

<p>
    <span style="color: green"><i class="fas fa-trash-alt fa-4x"></i></span>
    <span style="color: green"><i class="far fa-trash-alt fa-4x"></i></span>
    <span style="color: green"><i class="fas fa-trash fa-4x"></i></span>
    <span style="color: pink"><i class="fas fa-minus fa-4x"></i></span>
    <span style="color: pink"><i class="fas fa-minus-circle fa-4x"></i></span>
    <span style="color: green"><i class="fas fa-times-circle fa-4x"></i></span>
    <span style="color: green"><i class="far fa-times-circle fa-4x"></i></span>
    <span style="color: green"><i class="fas fa-times fa-4x"></i></span>
    <span style="color: green"><i class="fas fa-window-close fa-4x"></i></span>
    <span style="color: green"><i class="far fa-window-close fa-4x"></i></span>
</p>

<p style="text-align: center; font-size: 2em; margin-top: 2em;">
    <span style="color: #EC4C4E"><i class="fas fa-arrow-right fa-lg"></i></span>
<a href="https://fontawesome.com/icons?d=gallery&m=free">Toutes les icônes libres sur le site officiel</a>
    <span style="color: #EC4C4E"><i class="fas fa-arrow-left fa-lg"></i></span>
</p>
{% endblock %}
