{% extends 'base.html.twig' %}

{% block title %}Bonjour{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-1">
    <p style="margin: 14px 0px; text-align: center">
        <span style="color: #999999"><i class="fas fa-info-circle fa-3x"></i></span>
    </p>
    </div>
    <div class="col-md-11">
    <h1>Bonjour {{ aQui }} !</h1>
    </div>
</div>
{% endblock %}
