
{%extends 'base.html.twig' %}

{%block body%}

  <div class= "form-group">
{{form_start(deleteForm)}}

  </div>



<button type="submit" class="btn btn-danger">Supprimer ! </button>



{{form_end(deleteForm)}}


{%endblock %}
