{%extends 'base.html.twig' %}
{%block body%}
<h1>Page de création de compte </h1>
{{form_start(form)}}
{{form_row(form.username)}}
{{form_row(form.password)}}
<button type="submit" class="btn btn-success">Inscription ! </button>
{{form_end(form)}}

{%endblock %}
