
{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block body %}
  <h1>Entrez votre nouveau mot de passe</h1>
  <form method="post">
      <label for="pass">Mot de passe</label>
      <div class= "form-group">
      <input placeholder="mot de passe" required name="password"
      type="password" class="form-control">
      </div>

      <label for="pass">Confirmer mot de passe</label>
      <div class= "form-group">
      <input placeholder="confirmer le mot de passe" required name="confirm_password"
      type="password" class="form-control">
      </div>


      <input type="hidden" name="token" value="{{ token }}">
        <div class= "form-group">
        <button type="submit" class= "btn btn-success"> valider </button>
        </div>
  </form>
{% endblock %}
