


{%extends 'base.html.twig' %}

{%block body%}
<h1> réinitialisation mot de passe </h1>
{{form_start(resetForm)}}
<div class="form-group">
<label for="exampleFormControlInput1"> Email</label>
{{form_row(resetForm.mail, {} )}}
</div>

<div class="form-group">
<button type="submit" class="btn btn-success">Envoyer ! </button>
</div>
{{form_end(resetForm)}}


{%endblock %}
